<!DOCTYPE html>
<html lang="en" class="no-js">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
		<title>SG100 Nation Hackathon | Codexia</title>
		<meta name="description" content="SG100 Nation Hackathon" />
		<meta name="keywords" content="SG100, Singapore, Nation, Hackathon, Hack-a-thon, Foundation, Event, Coding, Programming, Event" />
		<meta name="author" content="hencework"/>
		
		<link rel="shortcut icon" href="favicon.ico">
		<link rel="icon" href="favicon.ico" type="image/x-icon">
		<!--CSS-->
		<link rel="stylesheet" type="text/css" href="css/style.css" />
	</head>
	
	<body id="body">
				
		<!--Main Wrapper-->
		<div class="main-wrapper">
		
			<!--Bg Image-->
			<div class="bg-struct bg-img">
				<div class="bg-img"></div>
			</div>
			<!--/Bg Image-->
			
			<div class="mdl-js-layout mdl-layout--fixed-header">
				
				<!--Top Header-->
				<header class="">
					<div class="mdl-layout__header-row mdl-scroll-spy-1">
						<a href="index.html"><span class="mdl-layout-title font-dark">SG100 Nation Hackathon</span></a>
						<div class="mdl-layout-spacer"></div>
						<ul class="nav mdl-navigation mdl-layout--large-screen-only">
							<li><a class="mdl-navigation__link" data-scroll href="#event_sec">ABOUT</a></li>
							<li><a class="mdl-navigation__link" data-scroll href="#schedule_sec">SCHEDULE</a></li>
							<li><a class="mdl-navigation__link" data-scroll href="#speaker_sec">PEOPLE</a></li>
							<li><a class="mdl-navigation__link" data-scroll href="#prize_sec">PRIZES</a></li>
							<li><a class="mdl-navigation__link" data-scroll href="#sponsor_sec">SPONSORS</a></li>>
							<li><a class="mdl-navigation__link" data-scroll href="#contact_sec">CONTACT</a></li>
						</ul>
						
						<button id="demo-menu-lower-right"
								class="mdl-button mdl-js-button mdl-button--icon ver-more-btn">
						  <i class="material-icons">more_vert</i>
						</button>

						<ul class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect"
							data-mdl-for="demo-menu-lower-right">
							<li class="mdl-menu__item"><a href="#"><i class="zmdi zmdi-download font-lime pr-10"></i>Download Ticket</a></li>
							<li class="mdl-menu__item"><a href="mailto:benjaminsirje49@company.com"><i class="zmdi zmdi-email-open font-pink pr-10"></i>Contact Us</a></li>
							<li class="mdl-menu__item"><a href="callto:12345678910"><i class="zmdi zmdi-phone  font-indigo  pr-10"></i>+1 234 567 89 10</a></li>
						</ul>
					</div>
				</header>
				<!--/Top Header-->
								
				<!--Main Content-->
				<div class="main-content relative">
					<div class="container">
						
						<!--About Sec-->
						<section class="about-sec mt-180 mt-sm-120  mb-30">
							<div class="row">
								<div class="col-lg-12">
									<div class="mdl-card mdl-shadow--2dp relative">
										<div id="carousel" class="carousel slide carousel-fade banner-carousel" data-ride="carousel">
											<!-- Carousel items -->
											<div class="carousel-inner">
												<div class="active item"></div>
												<div class="item"></div>
												<div class="item"></div>
											</div>
										</div>
										<div class="about-overlay"></div>
										<div class="row about-content-wrap">
											<div class="col-xs-12">
												<div class="info-wrap text-center mt-40">
													<!--Counter-->
													<div id="countdown" class="countdown font-pink mb-25">
													<span class="first-part-count">
														<span class="days">20</span>
														<span>days</span>
														<span class="time-sep">:</span>
														<span class="hours">00</span>
														<span>hours</span>
													</span>	 
													<span class="second-part-count">
														<span class="time-sep">:</span>
														<span class="minutes">00</span>
														<span>min</span>
														<span class="time-sep">:</span>
														<span class="seconds">00</span>
														<span>sec</span>
													</span>
													</div>
													<!--Counter-->
													<h1>SG100 Nation<span class="font-pink high-text"> Hackathon 2018</span></h1>
													<h5 class="mt-20">
														<span class="relative mr-5 inline-block">
															<i id="datepickopn" class="zmdi zmdi-calendar-check font-pink pl-5"></i>
																<span id="datepicker1" class="datepicker block"></span>
														</span>
														<span>27-29 July 2018, Tanjong Pagar Community Centre, Singapore</span>
													</h5>
													<div class="mt-50">
														<a class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect  bg-pink font-white mr-10" data-toggle="modal" data-target="#responsive_modal_1" href="https://www.eventbrite.com/e/sg100-foundation-nation-hackathon-2018-tickets-45816339906">Register Now</a>
														<a class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect bg-violet font-white" href="#" data-toggle="modal" data-target="#responsive_modal_2">Subscribe</a>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>	
							</div>
						</section>	
											
						<!--Notify Form Modal-->
						<div id="responsive_modal_2" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true" style="display: none;">
							<div class="modal-dialog">
								<div class="modal-content">
									<div class="modal-header">
										<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
									</div>
									<div class="modal-body">
										<div  class="mdl-card">
											<h4 class="mb-10 font-unsetcase">Join the SG100 Foundation Mailing List To Stay Updated</h4>
											<form id="notifyMe" name="registration-form"  method="post" action="notify-me.php" class="form-horizontal registration-form mb-30">
												<div class="form-group">
													<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
														<input autocomplete="off" class="mdl-textfield__input" id="email" name="email" type="email" required>
														<label class="mdl-textfield__label" for="email">email*</label>
													</div>
												</div>
												<div class="form-group">
													<div class="align-center">
														<button type="submit" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect  bg-pink font-white">
															Notify Me
														</button>
													</div>
												</div>
											</form>
										</div>
									</div>
								</div>
							</div>
						</div>
						<!--/About Sec-->	
						
						<!--Event Sec-->
						<section id="event_sec" class="event-sec sec-pad-top-sm">
							<h2 class="mb-30">About The Hackathon</h2>
							<div class="mdl-card mb-30 pb-15">
								<div class="row">
									<div class="col-xs-12">
										<div class="about-event-wrap">
											<p class="">There is no hackathon organized in Singapore specifically for the public. However, there is a huge interest among the public in coding and financial literacy. The SG100 Foundation sees the need for a hackathon and provides an outlet for the public to learn and implement their skills in projects.

We aim to make this experience free and accessible for everyone. We hope that public from all walks of life can come together to enjoy this experience and benefit from the skills they learnt from this hackathon!</p>
										</div>
									</div>
								</div>
								<div class="row mt-40">
									<div class="col-md-3 col-sm-6 col-xs-12 mb-30">
										<div class="">
											<i class="zmdi zmdi-mic font-indigo profile-icon"></i>
											<h4 class="mb-15"><span class="counter-anim">10</span> Speakers</h4>
											<p>Listen to and learn from world-class speakers and local entrepreneurs.</p>
											
										</div>
									</div>
									<div class="col-md-3 col-sm-6 col-xs-12 mb-30">
										<div class="">
											<i class="zmdi zmdi-badge-check font-pink profile-icon"></i>
											<h4 class="mb-15"><span class="counter-anim">2</span> Topics</h4>										
											<p>We'll tackle the issues of becoming a SmartNation and the rise of FinTech.</p>
										</div>
									</div>
									<div class="col-md-3 col-sm-6 col-xs-12 mb-30">
										<div class="">
											<i class="zmdi zmdi-time font-teal profile-icon"></i>
											<h4 class="mb-15"><span class="counter-anim">60</span> Hours</h4>
											<p>Lose yourself in the most exciting hackathon in Singapore!</p>
											
										</div>
									</div>
									<div class="col-md-3 col-sm-6 col-xs-12 mb-30">
										<div class="">
											<i class="zmdi zmdi-seat font-lime profile-icon"></i>
											<h4 class="mb-15"><span class="counter-anim">200</span> Attendees</h4>
											<p>Create partnerships, friendships and build something amazing!</p>
											
										</div>
									</div>
								</div>
							</div>
						</section>
						<!--Event Sec-->
						
						<!--Schedule Sec-->
						<section id="schedule_sec" class="schedule-sec sec-pad-top-sm">
							<h2 class="mb-30">Event Schedule</h2>
								
							<div  class="tab-struct custom-tab-1 mt-40">
							  <ul role="tablist" class="nav nav-tabs" id="schedule_tabs">
									<div>Hackathon Schedule</div>
									<li class="active" role="presentation"><a aria-expanded="true"  data-toggle="tab" role="tab" id="day_1_tab" href="#day_1">Pre-event and briefing</a></li>
									<li role="presentation" class=""><a  data-toggle="tab" id="day_2_tab" role="tab" href="#day_2" aria-expanded="false">Day 1</a></li>
                                    <li role="presentation" class=""><a  data-toggle="tab" id="day_3_tab" role="tab" href="#day_3" aria-expanded="false">Day 2</a></li>
								    <li role="presentation" class=""><a  data-toggle="tab" id="day_4_tab" role="tab" href="#day_4" aria-expanded="false">Day 1 Masterclasses</a></li>
								    <li role="presentation" class=""><a  data-toggle="tab" id="day_5_tab" role="tab" href="#day_5" aria-expanded="false">Day 2 Masterclasses</a></li>
								</ul>
							  <div class="tab-content" id="schedule_content">
								<div  id="day_1" class="tab-pane fade active in" role="tabpanel">
										<div class="timeline-wrap  overflow-hide mb-30">
											<ul class="timeline">
												<li>
													<div class="timeline-badge">
													  <i class="zmdi zmdi-accounts-outline font-teal"></i>
													</div>
													<div class="timeline-panel mdl-card pt-30 pb-30 border-top-indigo">
														<div class="timeline-heading">
															<h4 class="mb-10">Registration and Reception</h4>
															<span class="duration mb-5">5:30pm - 6:30pm</span>
															<span class="institution">Tanjong Pagar Community Centre</span>
														</div>
														<div class="timeline-body">
														  <p class="mt-25"></p>
														</div>
													</div>
												</li>
												
												<li class="timeline-inverted">
													<div class="timeline-badge">
														<i class="zmdi zmdi-format-color-text font-pink"></i>
													</div>
													<div class="timeline-panel mdl-card  pt-30 pb-30 border-top-pink">
														<div class="timeline-heading">
															<h4 class="mb-10">Welcome and Opening Keynote</h4>
															<span class="duration mb-5">6:30pm - 7:40pm</span>
															<span class="institution">Tanjong Pagar Community Centre Hall</span>
														</div>
														<div class="timeline-body">
														  <p class="mt-25"></p>
														</div>
													</div>
												</li>
												
												<li>
													<div class="timeline-badge">
													  <i class="zmdi zmdi-city-alt font-teal"></i>
													</div>
													<div class="timeline-panel mdl-card pt-30 pb-30 border-top-teal">
														<div class="timeline-heading">
															<h4 class="mb-10">SG100 Nation Hackathon Overview</h4>
															<span class="duration mb-5">7:40pm - 7:50pm</span>
															<span class="institution">Tanjong Pagar Community Centre Hall</span>
														</div>
														<div class="timeline-body">
														  <p class="mt-25"></p>
														</div>
													</div>
												</li>
												<li class="timeline-inverted">
													<div class="timeline-badge">
													  <i class="zmdi zmdi-markunread-mailbox font-pink"></i>
													</div>
													<div class="timeline-panel mdl-card  pt-30 pb-30 border-top-indigo">
														<div class="timeline-heading">
															<h4 class="mb-10">Problem Based Pitches</h4>
															<span class="duration mb-5">7:50pm - 8:10pm</span>
															<span class="institution">Tanjong Pagar Community Centre Hall</span>
														</div>
														<div class="timeline-body">
															<p class="mt-25">Invitamus me testatur sed quod non dum animae tuae lacrimis ut libertatem deum rogus aegritudinis causet. Dicens hoc contra serpentibus isto.</p>
														</div>
													</div>
												</li>
											  <li>
													<div class="timeline-badge">
														<i class="zmdi zmdi-flight-takeoff font-indigo"></i>
													</div>
													<div class="timeline-panel mdl-card pt-30 pb-30 border-top-pink">
														<div class="timeline-heading">
															<h4 class="mb-10">Networking</h4>
															<span class="duration mb-5">8:10pm - 8:40pm</span>
															<span class="institution">Tanjong Pagar Community Centre Hall</span>
														</div>
														<div class="timeline-body">
														  <p class="mt-25"></p>
														</div>
													</div>
											  </li>
											  
											  <li class="timeline-inverted">
											    <div class="timeline-badge"> <i class="zmdi zmdi-markunread-mailbox font-pink"></i> </div>
											    <div class="timeline-panel mdl-card  pt-30 pb-30 border-top-indigo">
											      <div class="timeline-heading">
											        <h4 class="mb-10">Solution Based Pitches</h4>
										          <span class="duration mb-5">8:40pm - 9:15pm</span> <span class="institution">Tanjong Pagar Community Centre Hall</span> </div>
											      <div class="timeline-body">
											        <p class="mt-25">Invitamus me testatur sed quod non dum animae tuae lacrimis ut libertatem deum rogus aegritudinis causet. Dicens hoc contra serpentibus isto.</p>
										          </div>
										        </div>
											  </li>
											  
											  <li>
											    <div class="timeline-badge"> <i class="zmdi zmdi-flight-takeoff font-indigo"></i> </div>
											    <div class="timeline-panel mdl-card pt-30 pb-30 border-top-pink">
											      <div class="timeline-heading">
											        <h4 class="mb-10">Networking and Team Formation</h4>
											        <span class="duration mb-5">9:15pm - 9:45pm</span> <span class="institution">Tanjong Pagar Community Centre Hall</span> </div>
											      <div class="timeline-body">
											        <p class="mt-25">Mingle around with other participants and form teams.</p>
										          </div>
										        </div>
										      </li>
												<li class="clearfix no-float"></li>
											</ul>
										</div>
								</div>
								<div  id="day_2" class="tab-pane fade" role="tabpanel">
										<div class="timeline-wrap  overflow-hide mb-30">
											<ul class="timeline">
												<li>
													<div class="timeline-badge">
														<i class="zmdi zmdi-accounts-outline font-teal"></i>
													</div>
													<div class="timeline-panel mdl-card pt-30 pb-30 border-top-indigo">
														<div class="timeline-heading">
															<h4 class="mb-10">Registration</h4>
															<span class="duration mb-5">8:00am</span>
															<span class="institution">Tanjong Pagar Community Centre</span>
														</div>
														<div class="timeline-body">
															<p class="mt-25"></p>
														</div>
													</div>
												</li>
												
												<li class="timeline-inverted">
													<div class="timeline-badge">
														<i class="zmdi zmdi-format-color-text font-pink"></i>
													</div>
													<div class="timeline-panel mdl-card  pt-30 pb-30 border-top-pink">
														<div class="timeline-heading">
														  <h4 class="mb-10">General Announcements</h4>
														  <span class="duration mb-5">9:00am - 9:30am</span>
															<span class="institution">Tanjong Pagar Community Centre Hall</span>
														</div>
														<div class="timeline-body">
															<p class="mt-25"></p>
														</div>
													</div>
												</li>
												
												<li>
													<div class="timeline-badge">
													  <i class="zmdi zmdi-city-alt font-teal"></i>
													</div>
													<div class="timeline-panel mdl-card pt-30 pb-30 border-top-teal">
													  <div class="timeline-heading">
															<h4 class="mb-10">Masterclasses</h4>
															<span class="duration mb-5">9:30am - 12:00pm</span>
														<span class="institution">Tanjong Pagar Community Centre </span>
														</div>
														<div class="timeline-body">
															<p class="mt-25">Refer to masterclass schedule</p>
													  </div>
													</div>
												</li>
												<li class="timeline-inverted">
													<div class="timeline-badge">
														<i class="zmdi zmdi-markunread-mailbox font-pink"></i>
													</div>
													<div class="timeline-panel mdl-card  pt-30 pb-30 border-top-indigo">
													  <div class="timeline-heading">
															<h4 class="mb-10">Lunch</h4>
															<span class="duration mb-5">12:00pm - 1:00pm</span>
															<span class="institution"></span>
														</div>
														<div class="timeline-body">
															<p class="mt-25">Invitamus me testatur sed quod non dum animae tuae lacrimis ut libertatem deum rogus aegritudinis causet. Dicens hoc contra serpentibus isto.</p>
														</div>
													</div>
												</li>
											  <li>
													<div class="timeline-badge">
														<i class="zmdi zmdi-flight-takeoff font-indigo"></i>
													</div>
													<div class="timeline-panel mdl-card pt-30 pb-30 border-top-pink">
														<div class="timeline-heading">
															<h4 class="mb-10">Masterclasses</h4>
															<span class="duration mb-5">1:00pm - 4:00pm</span>
															<span class="institution">Tanjong Pagar Community Centre</span>
														</div>
														<div class="timeline-body">
														  <p class="mt-25">Refer to masterclass schedule</p>
														</div>
													</div>
											  </li>
											  
											  <li class="timeline-inverted">
											    <div class="timeline-badge"> <i class="zmdi zmdi-markunread-mailbox font-pink"></i> </div>
											    <div class="timeline-panel mdl-card  pt-30 pb-30 border-top-indigo">
											      <div class="timeline-heading">
											        <h4 class="mb-10">Sign up for practice pitches</h4>
											        <span class="duration mb-5">4:00pm - 4:30pm</span> <span class="institution">Tanjong Pagar Community Centre Hall</span></div>
											      <div class="timeline-body">
											        <p class="mt-25">Invitamus me testatur sed quod non dum animae tuae lacrimis ut libertatem deum rogus aegritudinis causet. Dicens hoc contra serpentibus isto.</p>
										          </div>
										        </div>
											  </li>
											  
											  <li>
											    <div class="timeline-badge"> <i class="zmdi zmdi-flight-takeoff font-indigo"></i> </div>
											    <div class="timeline-panel mdl-card pt-30 pb-30 border-top-pink">
											      <div class="timeline-heading">
											        <h4 class="mb-10">Practice Pitches</h4>
											        <span class="duration mb-5">4:30pm - 5:00pm</span> <span class="institution">Tanjong Pagar Community Centre&nbsp;Digital Garrage</span></div>
											      <div class="timeline-body">
											        <p class="mt-25"></p>
										          </div>
										        </div>
										      </li>
											  <li class="timeline-inverted">
											    <div class="timeline-badge"> <i class="zmdi zmdi-markunread-mailbox font-pink"></i></div>
											    <div class="timeline-panel mdl-card  pt-30 pb-30 border-top-indigo">
											      <div class="timeline-heading">
											        <h4 class="mb-10">Team Hacking </h4>
											        <span class="duration mb-5">5:00pm - 7:00pm</span> <span class="institution">Tanjong Pagar Community Centre </span></div>
											      <div class="timeline-body">
											        <p class="mt-25">&nbsp;</p>
											      </div>
										        </div>
										      </li>
											  <li>
											    <div class="timeline-badge"> <i class="zmdi zmdi-flight-takeoff font-indigo"></i> </div>
											    <div class="timeline-panel mdl-card pt-30 pb-30 border-top-pink">
											      <div class="timeline-heading">
											        <h4 class="mb-10">Dinner</h4>
											        <span class="duration mb-5">7:00pm </span></div>
											      <div class="timeline-body">
											        <p class="mt-25">&nbsp;</p>
											      </div>
										        </div>
										      </li>
											  <li class="timeline-inverted">
											    <div class="timeline-badge"> <i class="zmdi zmdi-markunread-mailbox font-pink"></i></div>
											    <div class="timeline-panel mdl-card  pt-30 pb-30 border-top-indigo">
											      <div class="timeline-heading">
											        <h4 class="mb-10">wrap up</h4>
											        <span class="duration mb-5">9:00pm</span> <span class="institution"></span></div>
											      <div class="timeline-body">
											        <p class="mt-25"></p>
										          </div>
										        </div>
										      </li>
											  
											  <li class="clearfix no-float"></li>
											</ul>
											
											
								
											
										</div>
								</div>
								<div  id="day_3" class="tab-pane fade" role="tabpanel">
									  <div class="timeline-wrap  overflow-hide mb-30">
									    <ul class="timeline">
									      <li>
									        <div class="timeline-badge"> <i class="zmdi zmdi-accounts-outline font-teal"></i> </div>
									        <div class="timeline-panel mdl-card pt-30 pb-30 border-top-indigo">
									          <div class="timeline-heading">
									            <h4 class="mb-10">General Announcements &amp; Review Of Judging Requirements </h4>
<span class="duration mb-5">9:00am - 9:30am</span> <span class="institution">Tanjong Pagar Community Centre Hall</span></div>
									          <div class="timeline-body">
									            <p class="mt-25"></p>
								              </div>
								            </div>
								          </li>
									      <li class="timeline-inverted">
									        <div class="timeline-badge"> <i class="zmdi zmdi-format-color-text font-pink"></i> </div>
									        <div class="timeline-panel mdl-card  pt-30 pb-30 border-top-pink">
									          <div class="timeline-heading">
									            <h4 class="mb-10">Masterclasses</h4>
									            <span class="duration mb-5">9:30am - 12:00pm</span> <span class="institution">Tanjong Pagar Community Centre</span></div>
									          <div class="timeline-body">
									            <p class="mt-25">Refer to masterclass schedule</p>
									          </div>
								            </div>
								          </li>
									      <li>
									        <div class="timeline-badge"> <i class="zmdi zmdi-city-alt font-teal"></i> </div>
									        <div class="timeline-panel mdl-card pt-30 pb-30 border-top-teal">
									          <div class="timeline-heading">
									            <h4 class="mb-10">Lunch</h4>
									            <span class="duration mb-5">12:00pm</span> <span class="institution"></span> </div>
									          <div class="timeline-body">
									            <p class="mt-25">Participants are welcome to hack through lunch</p>
								              </div>
								            </div>
								          </li>
									      <li class="timeline-inverted">
									        <div class="timeline-badge"> <i class="zmdi zmdi-markunread-mailbox font-pink"></i> </div>
									        <div class="timeline-panel mdl-card  pt-30 pb-30 border-top-indigo">
									          <div class="timeline-heading">
									            <h4 class="mb-10">Register Final Team Name & Members (via Website Link)</h4>
									            <span class="duration mb-5">2:00pm</span> <span class="institution"></span> </div>
									          <div class="timeline-body">
									            <p class="mt-25"></p>
								              </div>
								            </div>
								          </li>
									      <li>
									        <div class="timeline-badge"> <i class="zmdi zmdi-flight-takeoff font-indigo"></i> </div>
									        <div class="timeline-panel mdl-card pt-30 pb-30 border-top-pink">
									          <div class="timeline-heading">
									            <h4 class="mb-10">Final Presentation & Judging</h4>
									            <span class="duration mb-5">3:00pm - 5:00pm</span> <span class="institution">Tanjong Pagar Community Centre Hall</span> </div>
									          <div class="timeline-body">
									            <p class="mt-25"></p>
								              </div>
								            </div>
								          </li>
									      <li class="timeline-inverted">
									        <div class="timeline-badge"> <i class="zmdi zmdi-format-color-text font-pink"></i></div>
									        <div class="timeline-panel mdl-card  pt-30 pb-30 border-top-pink">
									          <div class="timeline-heading">
									            <h4 class="mb-10">Closing Keynote</h4>
									            <span class="duration mb-5">5:00pm - 5:30pm</span> <span class="institution">Tanjong Pagar Community Centre Hall</span></div>
									          <div class="timeline-body">
									            <p class="mt-25"></p>
								              </div>
								            </div>
								          </li>
									      <li>
									        <div class="timeline-badge"> <i class="zmdi zmdi-accounts-outline font-teal"></i></div>
									        <div class="timeline-panel mdl-card pt-30 pb-30 border-top-indigo">
									          <div class="timeline-heading">
									            <h4 class="mb-10">Reception</h4>
									            <span class="duration mb-5">5:30pm - 6:30pm</span> <span class="institution">Tanjong Pagar Community Centre Hall</span></div>
									          <div class="timeline-body">
									            <p class="mt-25">Judges deliberation takes place.</p>
								              </div>
								            </div>
								          </li>
									      <li class="timeline-inverted">
									        <div class="timeline-badge"> <i class="zmdi zmdi-markunread-mailbox font-pink"></i></div>
									        <div class="timeline-panel mdl-card  pt-30 pb-30 border-top-indigo">
									          <div class="timeline-heading">
									            <h4 class="mb-10">awards &amp; closing</h4>
									            <span class="duration mb-5">6:30pm</span> <span class="institution">Tanjong Pagar Community Centre Hall</span></div>
									          <div class="timeline-body">
									            <p class="mt-25"></p>
								              </div>
								            </div>
								          </li>
									      <li class="clearfix no-float"></li>
								        </ul>
								      </div>
							    </div>
									<div  id="day_4" class="tab-pane fade" role="tabpanel">
									  <div class="timeline-wrap  overflow-hide mb-30">
									    <ul class="timeline">
									      <li>
									        <div class="timeline-badge"> <i class="zmdi zmdi-accounts-outline font-teal"></i></div>
									        <div class="timeline-panel mdl-card pt-30 pb-30 border-top-indigo">
									          <div class="timeline-heading">
									            <h4 class="mb-10">Microbit Training (Gabriel J. Perumal) /
													Machine Learning & micropython (Ruban)</h4>
									            <span class="duration mb-5">9:30am - 11:30am</span> <span class="institution">TPCC Digital Garage</span></div>
									          <div class="timeline-body">
									            <p class="mt-25">Invitamus me testatur sed quod non dum animae tuae lacrimis ut libertatem deum rogus aegritudinis causet. Dicens hoc contra serpentibus isto.</p>
								              </div>
								            </div>
								          </li>
									      <li class="timeline-inverted">
									        <div class="timeline-badge"> <i class="zmdi zmdi-format-color-text font-pink"></i></div>
									        <div class="timeline-panel mdl-card  pt-30 pb-30 border-top-pink">
									          <div class="timeline-heading">
									            <h4 class="mb-10">Event 2</h4>
									            <span class="duration mb-5">11:30am - 12:30pm</span> <span class="institution">By Codexian #10931</span></div>
									          <div class="timeline-body">
									            <p class="mt-25">Invitamus me testatur sed quod non dum animae tuae lacrimis ut libertatem deum rogus aegritudinis causet. Dicens hoc contra serpentibus isto.</p>
								              </div>
								            </div>
								          </li>
									      <li>
									        <div class="timeline-badge"> <i class="zmdi zmdi-city-alt font-teal"></i></div>
									        <div class="timeline-panel mdl-card pt-30 pb-30 border-top-teal">
									          <div class="timeline-heading">
									            <h4 class="mb-10">Lunch</h4>
									            <span class="duration mb-5">12:30pm - 1:30pm</span> <span class="institution">Lunch Break</span></div>
									          <div class="timeline-body">
									            <p class="mt-25">Invitamus me testatur sed quod non dum animae tuae lacrimis ut libertatem deum rogus aegritudinis causet. Dicens hoc contra serpentibus isto.</p>
								              </div>
								            </div>
								          </li>
									      <li class="timeline-inverted">
									        <div class="timeline-badge"> <i class="zmdi zmdi-markunread-mailbox font-pink"></i></div>
									        <div class="timeline-panel mdl-card  pt-30 pb-30 border-top-indigo">
									          <div class="timeline-heading">
									            <h4 class="mb-10">Event 3</h4>
									            <span class="duration mb-5">1:30pm - 2:30pm</span> <span class="institution">By Codexian #10931</span></div>
									          <div class="timeline-body">
									            <p class="mt-25">Invitamus me testatur sed quod non dum animae tuae lacrimis ut libertatem deum rogus aegritudinis causet. Dicens hoc contra serpentibus isto.</p>
								              </div>
								            </div>
								          </li>
									      <li>
									        <div class="timeline-badge"> <i class="zmdi zmdi-flight-takeoff font-indigo"></i></div>
									        <div class="timeline-panel mdl-card pt-30 pb-30 border-top-pink">
									          <div class="timeline-heading">
									            <h4 class="mb-10">Event 4</h4>
									            <span class="duration mb-5">2:30pm - 5:30pm</span> <span class="institution">By Codexian #10931</span></div>
									          <div class="timeline-body">
									            <p class="mt-25">Invitamus me testatur sed quod non dum animae tuae lacrimis ut libertatem deum rogus aegritudinis causet. Dicens hoc contra serpentibus isto.</p>
								              </div>
								            </div>
								          </li>
									      <li class="clearfix no-float"></li>
								        </ul>
								      </div>
							    </div>
									<div  id="day_5" class="tab-pane fade" role="tabpanel">
									  <div class="timeline-wrap  overflow-hide mb-30">
									    <ul class="timeline">
									      <li>
									        <div class="timeline-badge"> <i class="zmdi zmdi-accounts-outline font-teal"></i></div>
									        <div class="timeline-panel mdl-card pt-30 pb-30 border-top-indigo">
									          <div class="timeline-heading">
									            <h4 class="mb-10">Event</h4>
									            <span class="duration mb-5">9:30am - 11:30am</span> <span class="institution">By Codexian #10931</span></div>
									          <div class="timeline-body">
									            <p class="mt-25">Invitamus me testatur sed quod non dum animae tuae lacrimis ut libertatem deum rogus aegritudinis causet. Dicens hoc contra serpentibus isto.</p>
								              </div>
								            </div>
								          </li>
									      <li class="timeline-inverted">
									        <div class="timeline-badge"> <i class="zmdi zmdi-format-color-text font-pink"></i></div>
									        <div class="timeline-panel mdl-card  pt-30 pb-30 border-top-pink">
									          <div class="timeline-heading">
									            <h4 class="mb-10">Event 2</h4>
									            <span class="duration mb-5">11:30am - 12:30pm</span> <span class="institution">By Codexian #10931</span></div>
									          <div class="timeline-body">
									            <p class="mt-25">Invitamus me testatur sed quod non dum animae tuae lacrimis ut libertatem deum rogus aegritudinis causet. Dicens hoc contra serpentibus isto.</p>
								              </div>
								            </div>
								          </li>
									      <li>
									        <div class="timeline-badge"> <i class="zmdi zmdi-city-alt font-teal"></i></div>
									        <div class="timeline-panel mdl-card pt-30 pb-30 border-top-teal">
									          <div class="timeline-heading">
									            <h4 class="mb-10">Lunch</h4>
									            <span class="duration mb-5">12:30pm - 1:30pm</span> <span class="institution">Lunch Break</span></div>
									          <div class="timeline-body">
									            <p class="mt-25">Invitamus me testatur sed quod non dum animae tuae lacrimis ut libertatem deum rogus aegritudinis causet. Dicens hoc contra serpentibus isto.</p>
								              </div>
								            </div>
								          </li>
									      <li class="timeline-inverted">
									        <div class="timeline-badge"> <i class="zmdi zmdi-markunread-mailbox font-pink"></i></div>
									        <div class="timeline-panel mdl-card  pt-30 pb-30 border-top-indigo">
									          <div class="timeline-heading">
									            <h4 class="mb-10">Event 3</h4>
									            <span class="duration mb-5">1:30pm - 2:30pm</span> <span class="institution">By Codexian #10931</span></div>
									          <div class="timeline-body">
									            <p class="mt-25">Invitamus me testatur sed quod non dum animae tuae lacrimis ut libertatem deum rogus aegritudinis causet. Dicens hoc contra serpentibus isto.</p>
								              </div>
								            </div>
								          </li>
									      <li>
									        <div class="timeline-badge"> <i class="zmdi zmdi-flight-takeoff font-indigo"></i></div>
									        <div class="timeline-panel mdl-card pt-30 pb-30 border-top-pink">
									          <div class="timeline-heading">
									            <h4 class="mb-10">Event 4</h4>
									            <span class="duration mb-5">2:30pm - 5:30pm</span> <span class="institution">By Codexian #10931</span></div>
									          <div class="timeline-body">
									            <p class="mt-25">Invitamus me testatur sed quod non dum animae tuae lacrimis ut libertatem deum rogus aegritudinis causet. Dicens hoc contra serpentibus isto.</p>
								              </div>
								            </div>
								          </li>
									      <li class="clearfix no-float"></li>
								        </ul>
								      </div>
							    </div>
								</div>
							</div>
						</section>
						<!--/Schedule Sec-->
						
						<!--Speakers Sec-->
						<section id="speaker_sec" class="speaker-sec sec-pad-top-sm">
							<h2 class="mb-30">Our Speakers</h2>
							<div class="row">
								<div class="col-md-3 col-xs-6 mb-30">
									<div class="mdl-card pa-0">
										<div class="mdl-card__title pa-0">
											<div class="speaker-img speaker-1"></div>
											<div class="speaker-overlay pl-15 pr-15 pt-35">
												<p>Invitamus me testatur sed quod non dum animae tuae lacrimis.</p>
												<ul class="social-icons mt-15">
													<li>
														<a class="facebook-link" href="#">
															<i class="zmdi zmdi-facebook"></i>
														</a>
													</li>
													<li>
														<a class="twitter-link" href="#">
															<i class="zmdi zmdi-twitter"></i>
														</a>
													</li>
													<li>
														<a class="linkedin-link" href="#">
															<i class="zmdi zmdi-linkedin"></i>
														</a>
													</li>
												</ul>
											</div>
										</div>
										<div class="mdl-card__actions mdl-card--border">
											<span class="speaker-post-date inline-block">Ya Boi</span>
										</div>
									</div>
								</div>
								<div class="col-md-3 col-xs-6 mb-30">
									<div class="mdl-card pa-0">
										<div class="mdl-card__title pa-0">
											<div class="speaker-img speaker-2"></div>
											<div class="speaker-overlay pl-15 pr-15 pt-35">
												<p>Invitamus me testatur sed quod non dum animae tuae lacrimis.</p>
												<ul class="social-icons mt-15">
													<li>
														<a class="facebook-link" href="#">
															<i class="zmdi zmdi-facebook"></i>
														</a>
													</li>
													<li>
														<a class="twitter-link" href="#">
															<i class="zmdi zmdi-twitter"></i>
														</a>
													</li>
													<li>
														<a class="linkedin-link" href="#">
															<i class="zmdi zmdi-linkedin"></i>
														</a>
													</li>
												</ul>
											</div>
										</div>
										<div class="mdl-card__actions mdl-card--border">
											<span class="speaker-post-date inline-block">PewDiePie</span>
										</div>
									</div>
								</div>
								<div class="col-md-3 col-xs-6 mb-30">
									<div class="mdl-card pa-0">
										<div class="mdl-card__title pa-0">
											<div class="speaker-img speaker-3"></div>
											<div class="speaker-overlay pl-15 pr-15 pt-35">
												<p>Invitamus me testatur sed quod non dum animae tuae lacrimis.</p>
												<ul class="social-icons mt-15">
													<li>
														<a class="facebook-link" href="#">
															<i class="zmdi zmdi-facebook"></i>
														</a>
													</li>
													<li>
														<a class="twitter-link" href="#">
															<i class="zmdi zmdi-twitter"></i>
														</a>
													</li>
													<li>
														<a class="linkedin-link" href="#">
															<i class="zmdi zmdi-linkedin"></i>
														</a>
													</li>
												</ul>
											</div>
										</div>
										<div class="mdl-card__actions mdl-card--border">
											<span class="speaker-post-date inline-block">Adobe Hitler</span>
										</div>
									</div>
								</div>
								<div class="col-md-3 col-xs-6 mb-30">
									<div class="mdl-card pa-0">
										<div class="mdl-card__title pa-0">
											<div class="speaker-img speaker-4"></div>
											<div class="speaker-overlay pl-15 pr-15 pt-35">
												<p>Invitamus me testatur sed quod non dum animae tuae lacrimis.</p>
												<ul class="social-icons mt-15">
													<li>
														<a class="facebook-link" href="#">
															<i class="zmdi zmdi-facebook"></i>
														</a>
													</li>
													<li>
														<a class="twitter-link" href="#">
															<i class="zmdi zmdi-twitter"></i>
														</a>
													</li>
													<li>
														<a class="linkedin-link" href="#">
															<i class="zmdi zmdi-linkedin"></i>
														</a>
													</li>
												</ul>
											</div>
										</div>
										<div class="mdl-card__actions mdl-card--border">
											<span class="speaker-post-date inline-block">Garfield</span>
										</div>
									</div>
								</div>
							</div>
							<div class="text-center mt-20 mb-30">
								<a class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect  margin-lr-auto view-more" href="speaker-list.html">view all</a>
							</div>	
						</section>	
						<!--/Speakers Sec-->
						
						<!--Prize Sec-->
						<section id="prize_sec" class="price-sec sec-pad-top-sm">
							<h2 class="mb-30">Prizes</h2>
							<div class="row">
								<!-- item -->
								<div class="col-sm-4 text-center mb-30">
									<div class="mdl-card pa-0">
										<div class="mdl-card__title pa-0">
										  <h5 class="block pt-25 pb-20">1st Prize </h5>
										  <div class="price-bg"><span class="panel-price block font-indigo"><span class="pricing-dolor">$</span>1000</span> <span class="pricing-plan block pt-10">For X Category</span></div>	
										</div>
										<div class="mdl-card__supporting-text text-center pa-0">
											<ul class="list-group mb-0 text-center">
												<li class="list-group-item">Perk</li>
												<li class="list-group-item">Perk</li>
												<li class="list-group-item">Perk</li>
												<li class="list-group-item">Perk</li>
											</ul>
										</div>
									</div>
								</div>
								<!-- /item -->
								<!-- item -->
								<div class="col-sm-4 text-center mb-30">
									<div class="mdl-card pa-0">
										<div class="mdl-card__title pa-0">
										  <h5 class="block pt-25 pb-20">2nd Prize </h5>
										  <div class="price-bg"><span class="panel-price block font-indigo"><span class="pricing-dolor">$</span>500</span> <span class="pricing-plan block pt-10">For X Category</span></div>	
										</div>
										<div class="mdl-card__supporting-text text-center pa-0">
											<ul class="list-group mb-0 text-center">
											    <li class="list-group-item">Perk</li>
												<li class="list-group-item">Perk</li>
												<li class="list-group-item">Perk</li>
												<li class="list-group-item">Perk</li>
											</ul>
										</div>
									</div>
								</div>
								<!-- /item -->
								<!-- item -->
								<div class="col-sm-4 text-center mb-30">
									<div class="mdl-card pa-0">
										<div class="mdl-card__title pa-0">
										  <h5 class="block pt-25 pb-20">3rd Prize </h5>
										  <div class="price-bg"><span class="panel-price block font-indigo"><span class="pricing-dolor">$</span>300</span> <span class="pricing-plan block pt-10">For X Category</span></div>	
										</div>
										<div class="mdl-card__supporting-text text-center pa-0">
											<ul class="list-group mb-0 text-center">
											    <li class="list-group-item">Perk</li>
												<li class="list-group-item">Perk</li>
												<li class="list-group-item">Perk</li>
												<li class="list-group-item">Perk</li>											
												</ul>
										</div>
									</div>
								</div>
								<!-- /item -->
							</div>	
						</section>
						<!--/Prize Sec-->
						
						<!--Sponsor Sec-->
						<section id="sponsor_sec" class="client-sec sec-pad-top-sm">
							<div class="row">
								<div class="col-sm-12 mb-30">
									<div class="client-carousel">
										<img src="img/client1.png" alt="sponsor">
										<img src="img/client2.png" alt="sponsor">
										<img src="img/client3.png" alt="sponsor">
										<img src="img/client4.png" alt="sponsor">
										<img src="img/client5.png" alt="sponsor">
										<img src="img/client6.png" alt="sponsor">
									</div>
								</div>
							</div>
						</section>
						<!--/Sponsor Sec-->
						
						<!--Contact Sec-->
						<section id="contact_sec" data-ng-app="contactApp" class="contact-sec sec-pad-top-sm">
							<h2 class="mb-35">Contact</h2>
							<div class="row">
								<div id="form_card_height" class="col-sm-7 mb-30">
									<div  class="mdl-card" data-ng-controller="ContactController">
										<h4 class="mb-10 font-unsetcase">Hey There, <span  data-ng-bind="formData.inputName||">We'll Get Back</span>.</h4>
										<form data-ng-submit="submit(contactform, $event)"  name="contactform"  method="post" class=" form-horizontal mb-30">
											<div class="form-group" data-ng-class="{ 'has-error': contactform.inputName.$invalid && submitted }">
												<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
													<input autocomplete="off" data-ng-model="formData.inputName" class="mdl-textfield__input" type="text" id="inputName" name="inputName" required>
													<label class="mdl-textfield__label" for="inputName">name*</label>
												</div>	
											</div>
											<div class="form-group" data-ng-class="{ 'has-error': contactform.inputEmail.$invalid && submitted }">
												<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
													<input autocomplete="off" data-ng-model="formData.inputEmail" class="mdl-textfield__input" type="email" id="inputEmail" name="inputEmail" required>
													<label class="mdl-textfield__label" for="inputEmail">email*</label>
												</div>
											</div>
											<div class="form-group" data-ng-class="{ 'has-error': contactform.inputMessage.$invalid && submitted }">
												<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
													<textarea 
													data-ng-model="formData.inputMessage" 
													class="mdl-textfield__input"  rows="3" id="inputMessage" name="inputMessage" required></textarea>
													<label class="mdl-textfield__label" for="inputMessage">message*</label>
												</div>	
											</div>
											<div class="form-group">
												<div class="align-center">
													<button type="submit" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect  bg-indigo font-white" data-ng-disabled="submitButtonDisabled">
														submit
													</button>
												</div>
											</div>
										</form>
										<p class="block result" data-ng-class="result">{{ resultMessage }}</p>
									</div>
								</div>
								<div class="col-sm-5 mb-30">
									<div class="mdl-card pa-0">
										<div id="map_canvas"></div>
									</div>
								</div>
							</div>
						</section>
						<!--/Contact Sec-->
						
						<!--Footer Sec-->
						<footer class="footer-sec sec-pad-top-sm sec-pad-bottom text-center">
							<h4>Made With Love in San Francisco, CA.</h4>
							<p class="mt-10">Copyright 2018 Codexia Studios, LLC and SG100 Foundation. All Rights Reserved.</p>
								<ul class="social-icons mt-10">
									<li>
										<a class="facebook-link" href="#">
											<i id="tt6" class="zmdi zmdi-facebook"></i>
											<div class="mdl-tooltip" data-mdl-for="tt6">
												facebook
											</div>
										</a>
									</li>
									<li>
										<a class="twitter-link" href="#">
											<i id="tt7" class="zmdi zmdi-twitter"></i>
											<div class="mdl-tooltip" data-mdl-for="tt7">
												twitter
											</div>
										</a>
									</li>
									<li>
										<a class="linkedin-link" href="#">
											<i id="tt8" class="zmdi zmdi-linkedin"></i>
											<div class="mdl-tooltip" data-mdl-for="tt8">
												linkedin
											</div>
										</a>
									</li>
									<li>
										<a class="instagram-link" href="#">
											<i id="tt10" class="zmdi zmdi-instagram"></i>
											<div class="mdl-tooltip" data-mdl-for="tt10">
												instagram
											</div>
										</a>
									</li>
								</ul>
											
						</footer>
						<!--Footer Sec-->
					</div>
				</div>	
				<!--/Main Content-->
			
			</div>	
		</div>	
		<!--/Main Wrapper-->
		
		<!-- Scripts -->
		<script src="js/jquery-1.12.4.min.js"></script>
		<script src="js/angular.min.js"></script>
		<script src="js/bootstrap.min.js"></script>
		<script src="js/jquery-ui.min.js"></script>
		<script src="js/material.min.js"></script>
		<script src="js/jquery.waypoints.min.js"></script>
		<script src="js/jquery.counterup.min.js"></script>
		<script src="js/app.js"></script>
		<script src="js/controllers.js"></script>
		<script src="js/smooth-scroll.js"></script>
		<script src="js/isotope.js"></script>
		<script src="js/lightgallery-all.js"></script>
		<script src="js/owl.carousel.min.js"></script>
		<script src="js/froogaloop2.min.js"></script>
		<script src="js/jquery.slimscroll.js"></script>
		<script src="js/jquery.countdown.js"></script>
		<script src="js/notifyMe.js"></script>
		<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBxXt2P7-U38bK0xEFIT-ebZJ1ngK8wjww"></script>
		<script src="js/init.js"></script>
	</body>
</html>
